<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Confirmação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <meta name="description" content="Loja online de produtos importados e nacionais com preços competitivos. Relógios, Fones e Óculos disponíveis.">
</head>
<body>
    <h1>Pagamento Confirmado!</h1>
        <nav>
              <ul class="navbar">
                <li><a href="/">Início</a></li>
              </ul>
    </nav>
    <h2>Obrigado por sua compra! Entraremos em contato pelo seu email com o código de rastreio!.</h2>

    <footer>
        <img src="{{ url_for('static', filename='imagens/loja.png') }}" alt="loja"><br>
        <hr>
        Somos uma Loja localizada em Curitiba que oferece produtos de alta qualidade e preços muito competitivos. Confira nossas ofertas!
    <p>© 2024 VitrineOnline </p>

    </footer>
</body>
</html>

