<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <title>Cadastro</title>
</head>
<body>
 <h1>Página de Registro</h1>
     <br><br>
    <nav>
              <ul class="navbar">
                <li><a href="/">Início </a></li>>
              </ul>
    </nav>
    <br><br>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Usuário" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Senha" required>
    <button type="submit">Registrar</button>

</form>
    <footer>
        <img src="{{ url_for('static', filename='imagens/loja.png') }}" alt="loja"><br>
        <hr>
        Somos uma Loja localizada em Curitiba que oferece produtos de alta qualidade e preços muito competitivos. Confira nossas ofertas!
    <p>© 2024 VitrineOnline </p>

    </footer>
</body>
</html>
